[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
pandas = "*"
pillow = "*"
scipy = "*"
scikit-image = "*"
opencv-python = "*"
h5py = "==2.10.0"
imgaug = "*"
mask-rcnn = {git = "https://github.com/matterport/Mask_RCNN.git"}
keras = "==2.2.4"
typer = "*"
protobuf = "==3.6.1"
termcolor = "*"
tensorflow-directml = "==1.15.8"

[dev-packages]
yapf = "*"
ipykernel = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
